<html>
<head>
{% load staticfiles %}
<link rel='stylesheet' type='text/css' href="{% static 'john/style.css' %}">
{% block head %}
<div class = 'box'>
HEAD HEAD HEAD
</div>
<div class = 'clear'/>
{% endblock %}
</head>

<body>
{% block body %}
<div class = 'button'>
<a class = 'fill' href = 'http://google.com'>{{words}}</a>
</div>
<div class = 'clear'/>
{% endblock %}
</body>
</html>


<!--
I do not look at page sources anymore.

Do you remember webrings? I guess they were kind of like a precursor to search
engines, letting groups of people link their pages together to get more exposure
and let people find pages on certain common topics. Anyhow, a while back, a 
link was posted on an IRC channel I used to frequent that went to some random 
geocities page. It wasn't anything terribly remarkable, probably just some kid's
first attempt at web design or something. What was interesting, though, was the
webring it was part of. "The Deathring" as it called itself, it was supposedly
a webring of pages belonging to people who had died. In this case, the kid's 
geocities page had been updated a few months ago, letting the internet know that
the kid passed away in a traffic accident. Pages like this were far and few 
between, though, and most of them were just ordinary homepages. I guess if you
die suddenly, there's not really any time to update your website about it, and
back then, most people weren't nearly as tech-savvy as they are today.

I don't know why I kept clicking through those pages. Most of them were pretty
boring. Perhaps a part of me wanted to acknowledge these fellow travellers on
the information superhighway whose web presence had outlasted them. I was not
prepared when my next click brought me to my own website.

At first, I almost didn't recognize it. But, there was no mistaking the animated
explosion gifs, javascript cursor, or tinny midi music on autoplay. One look at
the guestbook only sealed the deal. This was my page, alright. But, being among
the living, I had never signed up on that webring or put their navigation bar on
the bottom of my page. I quickly loaded up my site in another window. Nothing. 
It was just as I had left it. I went back to the webring window to look at the
source code for my site. It was a pretty neat trick, putting in their own code
like that, and I wanted to see if I could figure out how to do the same to other
people. I scrolled down to the bottom only to find nothing. Where there should
have been a block of HTML for the webring bar, there was just a single line: a
date, several years in the future. I hurriedly went back through my history and
looked at the source for the other pages I had visited. On each and every one of
them, where there should have been a snippet of HTML, there was only a date, all
of them since passed. I finally made my way back to the first geocities page and
with a bit of trepidation, checked the source. Sure enough, the date matched the
one given in the "memorial" update the kid's family had posted. On a whim, I
decided to go look at some of my friends' homepages. Regular as clockwork, each
one had a single line at the bottom containing a date, some near, some far. One
of them was that very day.

Over the next week, I noticed that one of my friends had stopped logging on to 
our regular IRC channel. This was unusual because we had been working on a 
Starcraft UMS map together, and we were so close to getting it ready to publish.
When I asked around, there were rumors that something happened to him a few days
ago. It wasn't until I made a call to his home when I learned from his 
girlfriend that he had died on Tuesday from an unexpected aneurysm. Tuesday. 
The same day I found that webring and all this madness.

In a panic, I logged onto the service that was hosting my site and wiped
everything. I changed the password to a random string of characters and downed
half a bottle of bourbon to try and forget it as best I could. I would never log
in there again.

It was only after I had calmed down the next morning that I realized I didn't 
remember what my own date was. I tried to find the webring again, but to no 
avail. Even though the pages I had visited were still there, none of them had any 
trace of the navigation bar remaining. The only evidence I had left was a single
line with a date at the bottom of each page.

Perhaps it was for best. The human mind is not equipped to deal with the exact 
knowledge of its own end. Still, though, that inkling of curiousity remained. 
Had I really seen that webring in the first place? And who or what had placed 
the line with the date of death at the bottom of all those pages? I tried not
to think about the ones I had seen that were close to aproaching.


I do not look at page sources anymore. 
I do not look because I very much want to, and I am afraid of what I might find.
-->

